[Unit]
Description=A Spotify daemon
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/sbin/spotifyd --no-daemon
User=spotifyd
Group=spotifyd
Restart=always

[Install]
WantedBy=default.target
